
/node_modules/


.env
.env.local


npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log


/dist/
/build/
/coverage/


tsconfig*.json
jest.config.* 
.eslintrc.js
.prettierrc
eslint.config.js


.vscode/
.idea/
.DS_Store
Thumbs.db


*.tmp
